* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

body{
    min-height: 100vh;
    background: #000 url("imagens/bg-bottom.jpg") bottom no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;   
    font-family: 'Poppins', sans-serif;    
}
h2{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
.container{
    width: 1200px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.topo {    
    min-height: 300px;
    background: url("imagens/bg-topo.jpg") top center no-repeat;
    background-size: contain;    
    display: flex;
    justify-content: center;
    align-items: end;
}
.topo img {
    width: auto;
    height: 65px;
}
.cards_container {
    width: 100%;
    display: flex;
    justify-content: center;    
    margin-top: 20px;
}
.cards_container ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
}
.cards_container ul li, .cards_animate {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    width: 160px;
    height: 160px;   
    overflow: hidden; 
    transition: all .5s;
    z-index: 2;
}
.cards_animate::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: conic-gradient(
        #ff0000 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: borda 2s ease-out infinite;
}
.cards_animate::after {
    content: "";
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    border-radius: 20px;
    z-index: 5;
    cursor: pointer;
}
.cards_animate:hover {
    scale: 1.2;
    transition: .5s;
    z-index: 12;
}
.cards_img {
    width: auto;
    height: 154px;
    cursor: pointer;
    border-radius: 20px;
    z-index: 1;
}
@keyframes borda {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 578px){
    body{
        background-size: cover;
        padding: 0 0 60px 0;
    }
    .topo {    
        min-height: 180px;
        background-size: cover;    
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .topo img {
        width: auto;
        height: 47px;
    }
    .cards_container ul {
        
        justify-content: center;
        
    }
}